/*
  START - CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

@import '../node_modules/@clayui/charts/src/scss/main';

:root {
  --gray-200: #f1f2f5;
  --secondary-d2: #30313f;
  --white: #fff;
}

img,
picture,
svg {
  display: block;
  max-width: 100%;
}

.main {
  background-color: var(--gray-200);
}
